.App {
  text-align: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #33b;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #88b;
  padding-top: 10px;
}

img {
  border-radius: 50%;
  border: 2px solid rgb(212, 79, 79)
}